@font-face {
  font-family: 'PIX_lite';
  src: url('../assets/fonts/PIX_lite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PIX_lite';
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#ff69b4, #ff1493);
  touch-action: none;
  overflow: hidden;
}